<!-- Getform form https://getform.io -->

<!-- Add the getform-endpoint in config.yml -->
<form action="https://getform.io/f/{{site.getform_endpoint}}" enctype="multipart/form-data" method="POST"  target="_blank">
    <div class="form-group">
            <label for="contact_form_name">Nombre :</label>
            <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Escribe tu Nombre">
           </div>
           <div class="form-group">
             <label for="contact_form_email">Email :</label>
            <input type="email" class="form-control" name="email" id="contact_form_email" placeholder="Escribe tu Email">
           </div>
           <div class="form-group">
             <label for="contact_form_message"> Mensaje :</label>
            <textarea name="message" class="form-control" id="contact_form_message" placeholder="Escribe tu Mensaje"></textarea>
           </div>
           <div class="form-group">
               <label for="contact-form-file"> Adjuntos :</label>
            <input type="file" name="file" class="form-control" id="contact-form-file" placeholder="Añade ficheros adjuntos"/>
           </div>
            <button type="submit" value="Send" class="btn btn-lg btn-dark"> << Enviar >> </button>
</form>