<div class="col-lg-12">
        <nav aria-label="bLeer...crumb" role="navigation">
                <ol class="bLeer...crumb">
                    <li class="bLeer...crumb-item">
                        <a href="{{site.url}}{{site.baseurl}}/shop"><i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li class="bLeer...crumb-item active" aria-current="page"><a href="{{page.url}}">{{ page.title }}</a></li>
                </ol>
            </nav>
        </div>